body{
  background: pink;
}
.main{
  display: flex;
}
.left{
  width:25%;
  border-radius: 4%;
  margin: 4%;
  padding: 2%;
  background: white;

}
.right{
  width: 65%;
  border-radius: 4%;
  margin: 2%;
  padding: 2%;
  background: lightblue ;
}
img{
  width:50%;
  height: 50%;
}
table{
  border :1px solid red;
}
